:root,body {
	padding: 0;
	margin: 0;
	font-size: calc(2vmin + 10px)
}

.movie-page {
	background-color: #000;
	width: 100%;
	height: 100vh;
	display: flex;
}

.sidebar {
	background-color: #3c4451;
	flex: 0 1 auto;
	color: #fff;
}

.sidebar-header {
	height: 3rem;
	width: 100%;
	background-color: #37D5B4;
}

.sidebar-content {
	padding: 1em;
}

.content {
	flex: 1 1;
	overflow: hidden;
}

.content-header {
	height: 3rem;
	width: 100%;
	background-color: #3c4451;
	position: relative;
}

.searchbox {
	position: absolute;
	right: 0;
	line-height: 3rem;
	border: none;
	background: none;
	color: #fff;

	background-image: url("/images/search.png");
	background-size: 1em auto;
	background-position: left center;
	background-repeat: no-repeat;

	padding-left: 1.5em;
}

.searchbox:focus,
.searchbox:active {
	outline: none;
}

.content-content {
	height: calc(100% - 3rem);
	overflow: auto;
}

.movie {
	width: 20%;

	float: left;
	background-size: cover;
	background-position: center;
	position: relative;
	cursor: pointer;
}

.movie:hover:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(55,213,180,0.5);

	background-image: url("/images/play.png");
	background-size: 50% auto;
	background-position: center;
	background-repeat: no-repeat;
}


.loading {
	position: fixed;
	color: #fff;

	background-color: #37D5B4;
	bottom: 0;
	right: 0;
	padding: 0.5em 5em 0.5em 1em;
	margin: 1em;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	transition: right 1s ease;
}

.loading.active {
	right: -15em;
}

.loading > span:before {
	content: "M";
	background-image: url("/images/chicken.gif");
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;

	color: rgba(0,0,0,0);
	margin-right: 0.5em;
};