<div ng-controller="movieController">
	<!--
	<div class="loadingOverlay" ng-show="loading">
		Loading ...
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12 header">
				<div class="header-item active">
					Movies
				</div>
				<div class="header-item">
					Series
				</div>
				<div class="header-search">
					<input type="search" ng-model="searchinput">
				</div>
			</div>
		</div>
		<div class="row movies">
			<div class="col-2 movie" ng-repeat="movie in getMovies() | filter: {name: searchinput}">
				<img ng-src="/images/covers/{{movie.img}}" ng-click="loadMovie(movie)" title="{{movie.name}}">
			</div>
		</div>
	</div>
	-->
	<div class="movie-page" ng-hide="watching">
		<div class="sidebar">
			<div class="sidebar-header">
				
			</div>
			<div class="sidebar-content">
				<h2>Genre</h2>
				<ul>
					<li ng-repeat="genre in genres()" class="genre-item" ng-class="{active: isFilterGenre(genre)}" ng-click="setFilterGenre(genre)">{{genre}}</li>
				</ul>
			</div>			
		</div>
		<div class="content">
			<div class="content-header">
				<input type="search" ng-model="searchinput" class="searchbox" placeholder="Search movies">
			</div>
			<div class="content-content">
				<div class="movie" aspect-radio="0.7" ng-repeat="movie in getMovies() | limitTo: 200  | filter: {name: searchinput} |filter:genreFilter" style="background-image: url('/images/covers/{{movie.img}}');" ng-click="loadMovie(movie)" title="{{movie.name}}"></div>
				<div class="loading" ng-class="{active: !loading}">
					<span>Loading...</span>
				</div>
			</div>
		</div>
	</div>
	<div class="stage" ng-show="watching">
		<div ng-click="backToList()">BACK</div>
		<div id="player">Loading the player...</div>
	</div>
</div>