<div ng-controller="movieController">
	<!--
	<div class="loadingOverlay" ng-show="loading">
		Loading ...
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12 header">
				<div class="header-item active">
					Movies
				</div>
				<div class="header-item">
					Series
				</div>
				<div class="header-search">
					<input type="search" ng-model="searchinput">
				</div>
			</div>
		</div>
		<div class="row movies">
			<div class="col-2 movie" ng-repeat="movie in getMovies() | filter: {name: searchinput}">
				<img ng-src="/images/covers/{{movie.img}}" ng-click="loadMovie(movie)" title="{{movie.name}}">
			</div>
		</div>
	</div>
	-->
	<div class="movie-page">
		<div class="sidebar">
			<div class="sidebar-header">
				
			</div>
			<div class="sidebar-content">
				hallo world
			</div>
			
		</div>
		<div class="content">
			<div class="content-header">
				
			</div>
			<div class="movie" ng-repeat="movie in getMovies() | limitTo: 20" style="background-image: url('/images/covers/{{movie.img}}') ;">
				
			</div>
		</div>
	</div>
</div>